<div class="container">
  <section>
    <h1 style="text-align: center;">Curso de Angular</h1>

    <app-cursos></app-cursos>

    <app-data-binding></app-data-binding>

    <app-event-binding></app-event-binding>

    <article>
      <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
      <button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
      <button class="btn btn-primary" (click)="destruirCiclo()">Destruir Ciclo</button>
    </article>
  </section>
</div>
